- name: 워커 노드 kubeadm join 전체 작업
  when: groups['worker_group'] is defined and groups['worker_group'] | length > 0
  block:
    - name: kubeadm join 토큰 생성
      become: true
      shell: kubeadm token create
      register: join_token
      delegate_to: "{{ groups['controlplane_group'][0] }}"
      run_once: true

    - name: CA 인증서 해시 가져오기
      become: true
      shell: openssl x509 -pubkey -in /etc/kubernetes/pki/ca.crt | openssl rsa -pubin -outform der 2>/dev/null | openssl dgst -sha256 -hex | sed 's/^.* //'
      register: ca_cert_hash
      delegate_to: "{{ groups['controlplane_group'][0] }}"
      run_once: true

    - name: kubeadm join용 config 파일 생성
      become: true
      copy:
        dest: /tmp/kubeadm-join-config.yaml
        content: |
          apiVersion: kubeadm.k8s.io/v1beta3
          kind: JoinConfiguration
          discovery:
            bootstrapToken:
              token: "{{ join_token.stdout }}"
              apiServerEndpoint: "{{ hostvars[groups['controlplane_group'][0]].hostname }}:6443"
              caCertHashes:
                - "sha256:{{ ca_cert_hash.stdout }}"
          nodeRegistration:
            kubeletExtraArgs:
              node-ip: "{{ ansible_host }}"

    - block:
        - name: 워커에서 join 명령어 실행 (1차)
          become: true
          shell: kubeadm join --config /tmp/kubeadm-join-config.yaml
      rescue:
        - name: join 실패 시 kubeadm reset 실행
          become: true
          shell: kubeadm reset -f
          ignore_errors: true
        - name: 워커에서 join 명령어 실행 (2차)
          become: true
          shell: kubeadm join --config /tmp/kubeadm-join-config.yaml

    - name: 워커 노드가 Ready 또는 NotReady 상태가 될 때까지 대기
      become: false
      shell: kubectl get node {{ ansible_hostname }} -o jsonpath='{.status.conditions[?(@.type=="Ready")].status}'
      delegate_to: "{{ groups['controlplane_group'][0] }}"
      register: node_status
      until: node_status.stdout == "True" or node_status.stdout == "False"
      retries: 30
      delay: 10

    - name: 워커 노드에 worker 역할 라벨 추가
      become: false
      shell: kubectl label node {{ ansible_facts['hostname'] }} node-role.kubernetes.io/worker=worker --overwrite
      delegate_to: "{{ groups['controlplane_group'][0] }}"

    - name: 워커 노드 상태 확인
      become: false
      shell: kubectl get node {{ ansible_facts['hostname'] }}
      delegate_to: "{{ groups['controlplane_group'][0] }}"
      register: worker_node_status

    - name: 워커 노드 상태 출력
      debug:
        msg: "{{ worker_node_status.stdout }}"

    - name: 워커의 join config 파일 삭제
      become: true
      file:
        path: /tmp/kubeadm-join-config.yaml
        state: absent
      ignore_errors: true
